<h1>Welcome to College Application Portal</h1>
<h3>Choose User Role</h3>
<form action="chooseRole">
    <label for="rtudent">Student</label>
    <input type="radio" name="student" id="student">
    <label for="recruiter">Recruiter</label>
    <input type="radio" name="recruiter" id="recruiter">
</form>